@page
@model Proiect_Farcas_Gherghelas.Pages.Inchirieri.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Inchiriere</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Inchiriere.Magazin" class="control-label"></label>
                <input asp-for="Inchiriere.Magazin" class="form-control" />
                <span asp-validation-for="Inchiriere.Magazin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inchiriere.Locatie" class="control-label"></label>
                <input asp-for="Inchiriere.Locatie" class="form-control" />
                <span asp-validation-for="Inchiriere.Locatie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inchiriere.Contact" class="control-label"></label>
                <input asp-for="Inchiriere.Contact" class="form-control" />
                <span asp-validation-for="Inchiriere.Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inchiriere.PartieID" class="control-label">Partie</label>
                <select asp-for="Inchiriere.PartieID" class="form-control" asp-items="ViewBag.PartieID">
                </select>
                <span asp-validation-for="Inchiriere.PartieID" class="text-danger"></span>
            </div>
        
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
